*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(167, 227, 255)
}


body{font-family: 'Roboto Mono', monospace;
}
navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{flex: 1;
text-align: right;}

nav ul{
    display: inline-block;
    list-style-type: none;
}nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: firebrick;
}
p{
    color: #FFFFFF;
}

.container{

max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff567f;
    color: blanchedalmond;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: cubic-bezier #ffff
}
.btn:hover{
    background: #FAD2D8;
}
.header{
    background: radial-gradient(#FF5733,#FAD2D8);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 250px;
}
.small-container{
    max-width: 1080px;
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width:100%
}
.estructuraprod{
    max-width: 1080px;
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.estructuraprod img{
    width: 250px
}
.container2{
max-width: 1080px;
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.button{
    display: inline-block;
    background: #ff567f;
    color: blanchedalmond;
    padding: 0px 0px;
    margin: 30px 0;
    border-radius: 30px;
    transition: cubic-bezier #ffff
}

/* Product Card */
.product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a{
    text-decoration: none;
}
.product-card .stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}
/* Product Card End */

